.checkbox {
	width: 30px;
	height: 30px;
	background-color: #ddd;
	position: relative;
}

.checkbox input[type="checkbox"] {
	visibility: hidden;
}

.checkbox label {
	width: 28px;
	height: 28px;
	position: relative;
	top: -2px;
	left: -2px;
	background-color: white;
	cursor: pointer;
}

.checkbox label:before {
	content: '';
	width: 9px;
	height: 5px;
	border: solid 3px #000;
	position: absolute;
	border-top: none;
	border-right: none;
	transform: rotate(-45deg);
	top: 8px;
	left: 10px;
	opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label:before {
	opacity: 1;
}

.checkbox input[type="checkbox"]:checked + label {
	background-color: #57bba7;
}