/*@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');*/

:root {
  --background: rgba(0, 214, 170, .85);
}

* {
	margin: 0;
	padding: 0;
}

*, *::before, *::after {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.bg {
	background-image: url('../img/bg.jpeg'); 
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

header {
	background-color: var(--background, blue);
	color: #222;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 5;
}

.logo {
	font-size: 1.8em;
	line-height: 2em;
}

nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background-color: var(--background);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
}

nav ul {
	list-style-type: none;
}

nav li {
	margin-bottom: 1em;
	margin-left: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 1rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
}

nav a:hover {
	color: black;
}

.nav-toggle {
	display: none;
}

.nav-toggle:checked ~ nav {
	transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
	display: block;
	background-color: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
	content: '';
	position: absolute;
}

.nav-toggle-label span::before {
	bottom: 7px;
}

.nav-toggle-label span::after {
	top: 7px;
}

@media screen and (min-width: 800px) {
	.nav-toggle-label {
		display: none;
	}
	
	header {
		display: grid;
		grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
	}
	
	.logo {
		grid-column: 2 / 3;
	}
	
	nav {
		all: unset;
		grid-column: 3 / 4;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
	
	nav ul {
		display: flex;
		justify-content: flex-end;
	}
	
	nav li {
		margin-left: 3em;
		margin-bottom: 0;
	}
	
	nav a {
		opacity: 1;
		position: relative;
	}
	
	nav a::before {
		content: '';
		display: block;
		height: 5px;
		background-color: black;
		position: absolute;
		top: -.75em;
		left: 0;
		right: 0;
		transform: scale(0, 1);
		transition: transform ease-in-out 250ms;
	}
	
	nav a:hover::before {
		transform: scale(1, 1);
	}
}